8ff074da-63cc-4d2a-8c02-c02ae5aa6f23.png
mock.html
design.md
demo-hero-text.html
.firebaserc
404.html
firebase.json
.firebase/hosting..cache
pandbluxury-47ee3.web.app-20260924T213433.json
pandbluxury-47ee3.web.app-20260924T213523.json
_headers
wrangler.jsonc
node_modules/
demo-hero-cta.html
